@import 'properties.css';

@lost flexbox flex;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1em;
  background-image: linear-gradient(
    135deg,
    var(--primary-color) 0%,
    var(--secondary-color) 100%
  );
  background-attachment: fixed;
  font-family: sans-serif;
}
