:root {
  --black: #252a34;
  --white: white;

  --primary-color: var(--black);

  --positive-color: #6dcf17;
  --negative-color: #e84545;

  --small-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2),
    0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  --large-shadow: 0 1px 5px rgba(0, 0, 0, 0.1), 0 3px 8px rgba(0, 0, 0, 0.2),
    0 0 1px rgba(0, 0, 0, 0.4);

  --text-color: #252a34;
  --text-shadow: 0 0 0.1px color(var(--black) alpha(30%));

  --border-radius: 0.2rem;
  --border-color: color(var(--primary-color) alpha(20%));
  --border-color-focus: color(var(--primary-color) alpha(60%));

  --spacing: 1rem;
  --phone-section-spacing: calc(var(--spacing) * 2);
  --section-spacing: calc(var(--spacing) * 4);

  --container-width: 960px;

  --footer-height: 3rem;

  @custom-media --phone-ls only screen and (min-width: 480px); /* landscape */
  @custom-media --tablet only screen and (min-width: 768px);
  @custom-media --desktop only screen and (min-width: 992px);
}
