@import '../index/properties.css';

.input,
.button,
.divider {
  flex: 1 0 0;
  padding: 0 1rem;
}

.divider {
  flex: 0 0 0;
}

.input input,
.input select,
.button button {
  outline: none;
  appearance: none;
  width: 100%;
  padding: 0.5rem 0.8rem;
  display: block;
  border-radius: 0.2rem;
  border: 1px solid var(--primary-color);
  box-shadow: none;
  transition: border 0.5s;
  transition: box-shadow 0.5s;
}

.input input:focus,
.input select:focus,
.button button:focus {
  border: 1px solid var(--primary-color);
  box-shadow: 0 0 0.5rem var(--primary-color);
  transition: border 0.5s;
  transition: box-shadow 0.5s;
}

.button.action {
  padding: 0;
}

.button.action button {
  width: initial;
}

.input select {
  background: white
    url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23667189' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E")
    no-repeat right 7.5px center/8px 10px;
}
