@import '../index/properties.css';

.flatpickr-day.selected {
  background: var(--primary-color);
  border-color: var(--primary-color);

  &:hover {
    background: var(--primary-color);
    border-color: var(--primary-color);
  }
}
