@import '../index/properties.css';

.portfolio {
  lost-flex-container: row;

  margin-bottom: var(--section-spacing);

  & .portfolio-item {
    animation-duration: 1s;
    animation-name: slidein;

    opacity: 1;
    transition: opacity 1s;

    lost-column: 1/4;
    padding: var(--spacing);
    background: var(--primary-color);
    color: var(--white);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);

    & .name {
      font-weight: 700;
      margin: 0 0 calc(var(--spacing) / 2) 0;
    }

    & .value {
      font-weight: 200;
      margin: 0;
    }
  }
}

@keyframes slidein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
