@import '../index/properties.css';

.portfolio {
  lost-flex-container: row;
  margin-bottom: var(--phone-section-spacing);

  & .portfolio-item {
    lost-column: 1/1;

    animation-duration: 1s;
    animation-name: slidein;

    opacity: 1;
    transition: opacity 1s;

    background: var(--primary-color);
    color: var(--white);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    margin-bottom: var(--spacing);
    padding: var(--spacing);

    & .top {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin: 0 0 calc(var(--spacing) / 2) 0;
    }

    & .name {
      lost-column: 5/8;
      font-size: 1.25rem;
      font-weight: 700;
      margin: 0;
    }

    & .down,
    & .up {
      lost-column: 3/8;
      text-align: right;
      font-size: 0.75rem;
      font-weight: 500;
    }

    & .up {
      color: var(--positive-color);
    }

    & .down {
      color: var(--negative-color);
    }

    & .value {
      font-weight: 200;
      margin: 0;
    }
  }
}

@media (--phone-ls) {
  .portfolio .portfolio-item {
    lost-column: 1/2;
  }
}

@media (--tablet) {
  .portfolio {
    lost-flex-container: row;

    margin-bottom: var(--section-spacing);

    & .portfolio-item {
      lost-column: 1/4;
    }
  }
}

@keyframes slidein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
