@import '../index/properties.css';

.portfolio {
  lost-flex-container: row;
  margin-bottom: 4rem;
}

.portfolio-item {
  lost-column: 1/4;
  background: var(--primary-color);
  color: white;
  padding: 1rem;
  border-radius: 0.3rem;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1), 0 3px 8px rgba(0, 0, 0, 0.2),
    0 0 1px rgba(0, 0, 0, 0.4);
}

.portfolio-item {
  & .name {
    margin-top: 0;
  }

  & .value {
    margin-bottom: 0;
  }
}
