@import '../index/properties.css';

.loader {
  text-align: center;
  color: color(var(--primary-color) alpha(80%));
  margin-top: calc(var(--spacing) * 4);
}

.header {
  height: 1rem;
  background: var(--primary-color);
  margin-bottom: calc(var(--section-spacing) * 1.25);
}

.body {
  width: 960px;
  margin: 0 auto;
  color: var(--text-color);
}
