@import '../index/properties.css';

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.body {
  padding: var(--spacing);
  flex: 1;
}

.header {
  height: 1rem;
  background: var(--primary-color);
  margin-bottom: 0;
}

.loader {
  text-align: center;
  color: color(var(--primary-color) alpha(80%));
  margin-top: calc(var(--spacing) * 4);
}

@media (--tablet) {
  .header {
    margin-bottom: calc(var(--section-spacing) * 1.25);
  }

  .body {
    width: var(--container-width);
    margin: 0 auto;
    color: var(--text-color);
  }
}
