@import '../index/properties.css';

.footer {
  text-align: center;
  height: var(--footer-height);
  line-height: var(--footer-height);
  margin-top: var(--phone-section-spacing);
  border-top: 1px solid var(--border-color);

  & .home,
  & .github {
    text-decoration: none;
    font-weight: 600;
  }
}
