@import '../index/properties.css';

.footer {
  height: var(--footer-height);
  margin-top: var(--phone-section-spacing);
  border-top: 1px solid var(--border-color);

  & .inner {
    lost-flex-container: row;
    width: var(--container-width);
    margin: 0 auto;
    padding: 1rem;

    & .home,
    & .github {
      text-decoration: none;
      font-weight: 600;
    }

    & .info,
    & .addresses {
      lost-column: 1/2;
    }

    & .addresses {
      text-align: right;
    }
  }
}
